<footer id="gal-footer">
    <div class="container">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    </br>
        <a href="https://github.com/ZEROKISEKI/hexo-theme-gal" target="_blank">AONOSORA</a>
        ❤
        <a href="http://hexo.io/" target="_blank">Hexo</a>
    </br>
        <%= __('Powered by') %> 
        <a href="https://pages.github.com/" target="_blank" rel="nofollow noopener">GitHub Pages</a>
    </div>
</footer>

<!-- 回到顶端 -->
<div id="gal-gotop">
    <i class="fa fa-angle-up"></i>
</div>